.navbar-brand {
  margin-left: 2rem;
}

.d-block {
  height: 80vh;
  object-fit: cover;
  filter: brightness(.6);
}

.home-s1 {
  position: relative;
  display: flex;
  z-index: 1;
  backdrop-filter: blur(1.5px);
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  height: 14rem;
  width: 65vw;
  margin-top: 10rem;
  padding: 2vw;
  margin-left: 4rem;
}

.home-s1 h4 {
  font-weight: bold;
  color: white;
  font-size: 4em;
}

.home-s1 p {
  color: white;
}

.home-s1 .btn {
  width: 8rem;
  padding: 0.4rem;
  background: white;
  color: #002938;
  border: 0;
  font-weight: bold;
  transition: .45s;
}

.home-s1 .btn:hover {
  background: #002938;
  color: white;
  transition: .45s;
}

.slider {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.section-below {
  margin-top: 2rem;
}

.home .section {
  height: 80vh;
  position: relative;

}

.info-cards-row .col-md-4 .card {
  padding: 2rem;
  box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 57%);
}

.info-cards-row .col-md-4 h3 {
  text-align: center;
}

.info-cards-row .col-md-4 p {
  text-align: justify;
  margin-top: 1rem;
}

.btn-prim {
  background: #002938;
  color: white;
  border: 2px solid white;
  transition: .35s;
}

.btn-prim:hover {
  background: white;
  color: #002938;
  font-weight: bold;
  transition: .35s;
  border: 2px solid #002938;
}

.info-cards-row .col-md-4 .card h3 {
  color: #002938;
  font-size: 1.3rem;
  font-weight: bold;
}

.versiculo-header {
  height: 10vh;
  border: 1.4px solid #002938;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.versiculo-header p {
  font-weight: bold;
  color: black;
}

.versiculo-container {
  margin-top: 8rem;
  font-size: 1.2rem;
}

.row.versiculo {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row.versiculo>.col-md-8 p {
  color: black;
  font-weight: 200;
  font-style: italic;
}

.anuncios-home-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 4rem;
}

.anuncios-home-row>.col-md-3 {
  height: 35vh !important;
  padding: 0 !important;
}

.anuncios-home-row>.col-md-3>img {
  margin: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.anuncios-home-row>.col-md-3>p {
  font-size: 0.8rem;
}
